<div class="container-fluid">
  <h3 class="text-center">Sign Up</h3>
  <h6 class="text-muted text-center">Create your account.</h6>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first-name"> First name </label>
      <input
        id="first-name"
        type="text"
        formControlName="firstName"
        class="form-control"
      />
      <div
        class="text-danger"
        *ngIf="(firstName.touched || submitted) && firstName.errors?.required"
      >
        Name is required.
      </div>
      <div
        class="text-danger"
        *ngIf="firstName.touched && firstName.errors?.minlength"
      >
        Name should have at least 3 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="last-name"> Last name </label>
      <input
        id="last-name"
        type="text"
        formControlName="lastName"
        class="form-control"
      />
      <div
        class="text-danger"
        *ngIf="(lastName.touched || submitted) && lastName.errors?.required"
      >
        Last name is required.
      </div>
      <div
        class="text-danger"
        *ngIf="lastName.touched && lastName.errors?.minlength"
      >
        Last name should have at least 3 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="email"> Email </label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="form-control"
      />

      <div
        class="text-danger"
        *ngIf="(email.touched || submitted) && email.errors?.required"
      >
        Email is required.
      </div>
      <div class="text-danger" *ngIf="email.touched && email.errors?.email">
        Please, enter valid email address.
      </div>
    </div>

    <div class="form-group">
      <label for="password"> Password </label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="form-control"
        #passwordField
      />
      <div
        class="text-danger"
        *ngIf="(password.touched || submitted) && password.errors?.required"
      >
        Password is required.
      </div>
      <div
        class="text-danger"
        *ngIf="password.touched && password.errors?.minlength"
      >
        Password should have at least 8 characters.
      </div>
      <input
        id="show-password"
        class="m-2"
        type="checkbox"
        (click)="changePasswordVisibility()"
      />Show Password
    </div>

    <button class="btn btn-dark btn-lg btn-block" type="submit">Sign up</button>
  </form>

  <h6 class="text-muted text-center mb-2">
    Already a member?
    <a class="text-danger" routerLink="/login" routerLinkActive="active"
      >Log in</a
    >
  </h6>
</div>
